@use "../abstracts/main" as *;
// search form
.block-search {
  display: none;
}

// header style

.site-header {
  display: flex;
  height: rem(88);
  align-items: center;

  .region-primary-menu {
    display: flex;
    margin-left: auto;
    align-items: center;
  }
}

.site-branding {
  &__logo {
    display: flex
  }
}

.menu {
  &--main {
    ul.menu {
      @extend %body-font-style;
      @extend ul;
      display: flex;
      gap: 20px;
    li {
      ul {
        list-style: none;
      }
    }

    }

    a {
      color: $primary-color;
      text-decoration: none;
      @include text-shadow(1px, 1px, 6px, rgba(0, 0, 0, 0.3));
      transition: text-shadow 0.3s ease, color 0.3s ease;

      &:hover {
        @include text-shadow(1px, 1px, 6px, rgba(1, 46, 77, 0.3))
      }
    }

    display: flex;
  }

}

// search header section

.search {
  &_cta {
    margin-left: $space-40;
    margin-top: $space-10;
  }
}
