@use "../abstracts/main" as *;

.hero-banner {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: $white;

  &__image {
    position: absolute;
    inset: 0;
    z-index: -1;
    top: 0;

    img {
      width: 100%;
      object-fit: cover;
      aspect-ratio: 5 / 5;
      height: 100vh;

      @include mq(xl) {
        height: 100%;
      }

      @include mq(xxl) {
        aspect-ratio: 4 / 5;
      }

      @include mq(hd) {
        aspect-ratio: 3 / 3;
      }

      @include mq(fhd) {
        aspect-ratio: auto;
      }
    }
  }

  &__content {
    max-width: 640px;
    margin-top: 100px;
    padding-bottom: $space-64;
    color: $white;

    @include mq(xl) {
      padding-bottom: 0;
      margin-top: 380px;
    }
  }

  &__title {
    @extend %h1-style;
    color: $white;
  }

  &__description {
    @extend %body-large-style;

    div {
      color: $white;
      line-height: normal;
    }
  }

  &__cta {
    display: inline-block;
    margin-top: $space-24;

    a {
      @include button-base;
    }
  }

  &__featured {
    @include mqmax(xl) {
      background: $secondary-color;
    }

    @include mq(xl) {
      padding-top: $space-100;
    }
  }
}

/* ============================
   Featured Section (Child)
============================ */
.featured-section {
  padding-bottom: 64px;
  padding-top: 64px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  align-items: start;

  @include mq(xl) {
    padding-bottom: 120px;
    padding-top: 120px;
    grid-template-columns: 1fr 1fr;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__title {
    @extend %h2-style;
    color: $white;
  }

  &__subtitle {
    @extend %h3-style;
  }

  &__description {
    @extend %body-font-style;
    margin: $space-20 0;

    .field__item {
      border-left: 4px solid $light-blue;
      padding-left: $space-40;
    }
  }

  &__thumbnails {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 1rem;

    .field__item {
      img {
        width: 100%;
        height: 150px;

        @include mq(xl) {
          width: 228px;
          height: 228px;
        }

        object-fit: cover;
      }

      &:first-child {
        img {
          width: 100%;
          height: 250px;

          @include mq(xl) {
            width: 288px;
            height: 480px;
          }
        }

        grid-column: 1 / span 2;

        @include mq(xl) {
          grid-column: auto;
          grid-row: span 2; // tall image
        }
      }
    }
  }

  &__thumbnail {
    img {
      width: 100%;
      height: auto;
      border-radius: 0.25rem;
      display: block;
    }
  }

  &__cta {
    display: inline-block;

    a {
      @include button-base;

      &.btn {
        &--icon-right {
          flex-direction: row-reverse;
        }
      }
    }
  }
}
