@use "../abstracts/main" as *;

.contact {
  position: relative;
  width: 100%;
  min-height: 322px;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__background {
    position: absolute;
    background: transparent;
    z-index: -1;
    padding: 0;

    img {
      width: 100%;
      min-height: 330px;
      object-fit: cover;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    width: 100%;
    margin-inline: auto;
    flex-direction: column;

    @include mq(xl) {
      flex-direction: row;
      align-items: center;
    }
  }

  &__text {
    max-width: rem(500);

    .contact__description {
      @extend %h3-style;
    }
  }

  &__form-wrapper {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    max-width: rem(656);

    form {
      display: flex;
      align-items: center;
      position: relative;
      gap: 0.5rem;
      background: rgba(255, 255, 255, 0.2);
      padding: $space-8 $space-8 $space-8 $space-64;
      border-radius: 0.75rem;
      height: 60px;

      @include mq(xl) {
        height: 82px;
      }

      input[type="email"] {
        width: 100%;
        flex: 1;
        border: none;
        background: transparent;
        padding: 0;
        outline: none;
        color: $white;

        &::placeholder {
          color: rgba(255, 255, 255, 0.6);
        }

        &:hover {
          outline: none;
          border: 0;
          box-shadow: none;
        }
      }

      .form-item {
        margin: 0;

        &--email {
          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: $space-24;
            transform: translateY(-50%);
            width: rem(30);
            height: rem(30);
            pointer-events: none;
            background: url("../icons/email-icon.svg") no-repeat center;
            background-size: contain;
          }
        }
      }

      .button--primary {
        @include button-secondary($primary-color, $primary-color);
        font-size: rem(18);
        height: rem(48);
        margin: 0;

        @include mq(xl) {
          font-size: rem(24);
          height: rem(66);
        }
      }
    }
  }
}
