@use "sass:map";
@use "sass:math";
@use "variables";

$base-font-size: 16px !default;
$font-primary: "Inter", sans-serif;
$font-seconday: "Outfit", sans-serif;

@function rem($px, $base: $base-font-size) {
  @if math.is-unitless($px) {
    $px: $px * 1px;
  }

  @if math.is-unitless($base) {
    $base: $base * 1px;
  }

  @return math.div($px, $base) * 1rem;
}

@mixin font-size($px, $line-height: null) {
  font-size: rem($px);

  @if $line-height != null {
    line-height: $line-height;
  }
}

@mixin font-regular {
  font-family: $font-primary;
  font-optical-sizing: auto;
  font-weight: 400;
}

@mixin font-semibold {
  font-family: $font-primary;
  font-optical-sizing: auto;
  font-weight: 600;
}

@mixin button-style($with-arrow: false) {
  @include font-regular;
  font-size: rem(18);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: variables.$white;
  gap: if($with-arrow, 0.5rem, 0);
  padding: variables.$space-16 variables.$space-20;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.08) border-box;
  transition: background 0.3s ease, transform 0.2s ease;
  text-decoration: none;
  border-radius: 16px;
  border: 1px solid transparent;
  border-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.04) 0%,
    #ffffff 50.5%,
    rgba(255, 255, 255, 0.08) 100%
  );
  border-image-slice: 1;

  &:hover {
    transform: translateY(-2px);
    color: inherit;
  }

  &:active {
    transform: translateY(0);
  }

  @if $with-arrow {
    &::after {
      content: "";
      display: inline-block;
      width: 34px;
      height: 34px;
      background: url("../icons/arrow-right.svg") no-repeat center center;
      background-size: contain;
      padding-left: 24px;
    }
  }

  @include mq(xl) {
    font-size: rem(24);
    padding: variables.$space-16 variables.$space-40;
  }
}

$breakpoints: (
  xs: 360px,
  sm: 480px,
  md: 640px,
  lg: 767px,
  xl: 991px,
  xxl: 1024px,
  xxxl: 1281px,
  hd: 1440px,
  fhd: 1610px
) !default;

@mixin mq($break) {
  $value: map.get($breakpoints, $break);

  @if $value {
    @media (min-width: $value) {
      @content;
    }
  } @else {
    @warn "Breakpoint `#{$break}` not found in map.";
  }
}

@mixin mqmax($break) {
  $value: map.get($breakpoints, $break);

  @if $value {
    @media (max-width: $value) {
      @content;
    }
  } @else {
    @warn "Breakpoint `#{$break}` not found in map.";
  }
}

%h1-style {
  font-family: $font-seconday;
  font-weight: 500;
  font-style: normal;
  font-size: rem(36);
  line-height: 1;
  letter-spacing: 0;

  @include mq(xl) {
    font-size: rem(64);
    line-height: 1.2;
  }
}

%h2-style {
  font-family: $font-primary;
  @include font-semibold;
  font-optical-sizing: auto;
  font-size: rem(28);
  line-height: 1.2;
  letter-spacing: 0;
  margin-bottom: 8px;
  margin-top: 24px;

  @include mq(xl) {
    font-size: rem(36);
    line-height: 1.2;
  }
}

%h3-style {
  font-family: $font-primary;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: rem(18);
  line-height: 1.2;
  letter-spacing: 0;

  @include mq(xl) {
    font-size: rem(24);
    line-height: 1.2;
  }
}

%h3-semibold-style {
  font-family: $font-primary;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: rem(20);
  line-height: 1;
  letter-spacing: 0;

  @include mq(xl) {
    font-size: rem(24);
    line-height: 1.2;
  }
}

%h3-large-style {
  font-family: $font-primary;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: rem(24);
  letter-spacing: 0;

  @include mq(xl) {
    font-size: rem(28);
    line-height: 1.2;
  }
}

%body-font-style {
  @include font-regular;
  font-size: rem(18);
}

%body-large-style {
  @include font-regular;
  font-size: rem(16);

  @include mq(xl) {
    font-size: rem(20);
    line-height: 1.2;
  }
}

%body-large-semibold-style {
  @include font-semibold();
  font-size: rem(18);

  @include mq(xl) {
    font-size: rem(20);
    line-height: 1.2;
  }
}

%body-small-style {
  @include font-regular;
  font-size: rem(16);
}

@mixin text-shadow($x: 2px, $y: 2px, $blur: 4px, $color: rgba(15, 25, 34, 0.25)) {
  text-shadow: $x $y $blur $color;
}

@mixin button-base {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: variables.$space-20 variables.$space-40;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.08);
  color: #fff;
  @include font-regular;
  font-size: rem(20);
  line-height: 1.4;
  letter-spacing: -0.02em;
  text-decoration: none;
  backdrop-filter: blur(8px);
  transition: all 0.3s ease;
  border: 1px solid transparent;
  border-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.04) 0%,
    #ffffff 50.5%,
    rgba(255, 255, 255, 0.08) 100%
  );
  border-image-slice: 1;

  &:hover {
    background: rgba(255, 255, 255, 0.16);
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(0);
    background: rgba(255, 255, 255, 0.2);
  }

  svg {
    width: 20px;
    height: 20px;
  }

  span {
    display: flex;
  }

  @include mq(xxl) {
    font-size: rem(24);
    padding: variables.$space-24 variables.$space-77;

    svg {
      width: 34px;
      height: 34px;
    }
  }
}

@mixin button-secondary($background: transparent, $border-color: #fff) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: variables.$space-10 variables.$space-20;
  margin-top: variables.$space-16;
  border: 1px solid $border-color;
  border-radius: 8px;
  backdrop-filter: blur(8px);
  background-color: $background;
  @include mq(xl) {
    padding: variables.$space-16 variables.$space-40;
  }
  @extend %body-small-style;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: #fff;
    color: #fff;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
textarea {
  @extend %body-large-style;
}
