$primary-color: #0F1922;
$secondary-color: #012E4D;
$white: #FFFFFF;
$black: #000000;
$light-blue: #0097FF;


// Spacing scale
// Spacing variables
$space-5: 5px;
$space-8: 8px;
$space-10: 10px;
$space-12: 12px;
$space-15: 15px;
$space-16: 16px;
$space-20: 20px;
$space-24: 24px;
$space-30: 30px;
$space-32: 32px;
$space-40: 40px;
$space-42: 42px;
$space-48: 48px;
$space-50: 50px;
$space-52: 52px;
$space-64: 64px;
$space-77: 77px;
$space-80: 80px;
$space-100: 100px;
$space-120: 120px;
$space-180: 180px;